@media (min-width: 768px) and (max-width: 1024px) {

.center{
    margin: 0 40px;
    margin-top: 48px;
}

.header{
padding: 0 41px;
    &__title{
        font-size: 14px;
        line-height: 20px;
    }

}

.header-container{
    &__text{
        font-size: 12px;
        line-height: 12px;
    }

    &__icon{
        width: 12px;
        height: 11px;
    }
}

.country-cards{
    margin: 48px 84px;
    height: auto;
}

.country-info{
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 16px;

&-group{
    flex-basis: 104px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

}


.filter-option-container{
    right: 40px;

}



}



