$Main-font: 'Nunito Sans'; 
$Background-lightColor: rgba(255, 255, 255, 1);
$Header-shadow-color: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
$Cards-shadow-color: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
$Light-theme-color-text: rgba(17, 21, 23, 1);

$Background-darkColor:rgba(43, 56, 68, 1); 
$Dark-theme-color-text:rgba(255, 255, 255, 1);
